@charset "UTF-8";
/*RESET DE ESTILOS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR---VARIABLES */
body h2 {
  line-height: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 800;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  background-image: url(../images/pattern-body.png);
  background-repeat: repeat;
  /* NOTAS INDEX*/
}
body h1 {
  margin-top: 15vh;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #eef4edff;
}
body section {
  padding: 2rem 0;
  max-width: 90%;
  transform: translateX(5%);
  margin-top: 1rem;
}
body section img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(70%);
  transition: 0.5s ease;
}
body section img:hover {
  filter: grayscale(0%);
}
body h2 {
  color: #d1ac00ff;
}
body p {
  color: #eef4edff;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.nota-ppal {
  background-image: url(../images/pattern-cartographer.png);
  background-repeat: repeat;
  margin-top: 3vh;
}

.container-sections {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.container-sections__flex {
  display: flex;
  flex-direction: column;
}
.container-sections__flex__img {
  border-style: solid;
  border-width: 0.5rem;
  border-color: #eef4edff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
  animation: from-bottom 1.5s ease;
}

.nota-sec {
  background-image: url(../images/pattern-cartographer.png);
  background-repeat: repeat;
}

/* Animacion images */
@keyframes from-bottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Medias Queries */
@media (min-width: 800px) {
  .container-sections__flex {
    flex-direction: row;
  }

  /* elije al hijo y divide en 2 columnas exactas */
  .container-sections__flex > * {
    flex-basis: 100%;
  }

  /* elije al "nieto" */
  .container-sections__flex > * + * {
    margin-left: 2rem;
  }

  body p {
    text-align: left;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  body h2 {
    text-align: left;
    font-size: 3rem;
    line-height: 3rem;
  }

  footer div li {
    padding: 0 15px;
    margin-bottom: 16px;
    letter-spacing: 0.05rem;
  }
}
/* COLOR---VARIABLES */
/* Nav HEADER */
.navbar-custom {
  background-image: linear-gradient(to bottom, #002116, #01281b, #002f1f, #003624, #003d29);
}

.navbar-custom .navbar-nav .nav-link {
  color: #eef4edff;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #d1ac00ff;
}

.nav-link-mod {
  padding: 0 20px;
  color: #eef4edff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s ease;
  letter-spacing: 0.05rem;
  transition: 0.4s ease-in;
}
.nav-link-mod:hover {
  color: #eef4edff;
  color: #d1ac00ff;
  transform: scale(1.1);
}

.nav-text-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text-flex .nav-item {
  padding: 10px;
}
.nav-text-flex .nav-item .nav-link-active {
  background-color: #d1ac00ff;
  border-radius: 15px;
  padding: 1px 10px;
  color: #002116ff;
}
.nav-text-flex .nav-item .nav-link-active:hover {
  color: #002116ff;
}

/* Tamaño logo nav */
.logo {
  height: 6vh;
  transition: 0.5s ease;
  margin: 1vh;
}
.logo:hover {
  transform: scale(1.1);
}
.logo img {
  max-width: 100%;
}

/* Iconos Redes */
.iconos-redes {
  font-size: 1.5rem;
}
.iconos-redes a {
  padding: 0 15px;
  color: #eef4edff;
  transition: all 1s;
  margin-bottom: 2vh;
}
.iconos-redes a:hover {
  color: #d1ac00ff;
  font-size: 2rem;
}

/* borde toggler */
.custom-toggler.navbar-toggler {
  border-color: #eef4edff;
}

/* interior toggler (RGB)*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238, 244, 237)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Medias Queries NAV */
@media (max-width: 990px) {
  .iconos-redes {
    display: none;
  }
}
/* COLOR---VARIABLES */
footer {
  background-image: linear-gradient(to top, #002116, #01281b, #002f1f, #003624, #003d29);
}
footer .container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container p {
  text-align: center;
  font-size: 1rem;
}
footer .container .flex-row {
  display: flex;
  list-style: none;
  margin-top: 5vh;
}
footer .container .flex-row li {
  margin-top: 2vh;
  margin-bottom: 0vh;
}
footer div ul {
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
footer div ul li {
  padding: 0 10px;
  margin-bottom: 10px;
  letter-spacing: 0.01rem;
  transition: 0.3s ease-in;
}
footer div ul li:hover {
  transform: scale(1.1);
  text-decoration: none;
}
footer div ul li a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  color: #eef4edff;
  justify-content: space-between;
}
footer div ul li a:hover {
  color: #d1ac00ff;
  text-decoration: none;
}
footer div ul li a i {
  cursor: pointer;
  font-size: 1.5rem;
  color: #eef4edff;
  padding: 1.1vw;
  margin-bottom: 10px;
  transition: 0.3s ease-in;
}
footer div ul li a i:hover {
  color: #d1ac00ff;
  transform: scale(1.2);
}

.nav-link-active {
  background-color: #d1ac00ff;
  color: #eef4edff;
  border-radius: 15px;
  padding: 1px 10px;
  color: #002116ff;
}
.nav-link-active:hover {
  color: #002116ff;
}

/* COLOR---VARIABLES */
body {
  background-image: url(../images/pattern-cartographer.png);
  background-repeat: repeat;
}

.grid-container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  height: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2vw;
}
.grid-container p {
  color: #d8d8d8;
  text-align: left;
}
.grid-container h1 {
  font-weight: 700;
  color: #eef4edff;
  text-align: center;
}
.grid-container .grid-container--foto {
  border: 0.5rem solid #eef4edff;
  width: 100%;
  animation: from-left 1.75s ease;
}
.grid-container .grid-container__foto-2 {
  margin-bottom: 8vh;
}

/* Animacion images */
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Medias Queries Agua GRID */
@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100% 100%;
    grid-template-areas: "grid-container__titulo grid-container__foto-1" "grid-container__parrafo-1 grid-container__parrafo-2" "grid-container__foto-2 grid-container__foto-2";
    grid-gap: 2vw;
    margin-top: 20vh;
  }
  .grid-container h1 {
    font-size: 5rem;
    font-weight: 800;
    text-align: left;
  }

  .grid-container__titulo {
    grid-area: "grid-container__titulo";
  }

  .grid-container__foto-1 {
    grid-area: grid-container__foto-1;
    object-fit: contain;
    overflow: hidden;
  }

  .grid-container__parrafo-1 {
    grid-area: grid-container__parrafo-1;
  }

  .grid-container__parrafo-2 {
    grid-area: grid-container__parrafo-2;
  }

  .grid-container__foto-2 {
    grid-area: grid-container__foto-2;
    object-fit: contain;
    overflow: hidden;
  }
}
.card .card__image img {
  width: 100%;
  height: auto;
  height: 100%;
  cursor: pointer;
}

/* COLORS */
/*--- BOOTSTRAP COL-MD-12 CLASS --- */
.col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
  background-image: url(../images/pattern-cartographer.png);
}
.col-md-12 a {
  text-decoration: none;
}

.container-total {
  padding: 100px 0 30px 0;
}

/*--- CARDS --- */
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #eef4edff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card .card__image {
  animation: from-top 1.5s ease;
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease all;
}
.card .card__image:hover {
  transform: scale(1.05);
}
.card .card__image img {
  filter: grayscale(70%);
}
.card .card__image img:hover {
  filter: grayscale(0%);
}

/* imag animation */
@keyframes from-top {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.text-container {
  margin-bottom: 0px;
  padding: 15px 30px;
}
.text-container__activity {
  color: #d1ac00ff;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
.text-container__title a {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #902923ff;
}
.text-container__title a:hover {
  color: #002116ff;
}
.text-container__description {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 5vh;
}

/* COLOR---VARIABLES */
.subtitulo {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* --- GALLERY --- */
.gallery {
  width: min(90%, 70.5rem);
  height: 0;
  margin: 0 auto;
  margin-top: 10vh;
  position: relative;
  padding-bottom: 40%;
  background: #d1ac00ff;
  border: solid 0.5rem #eef4edff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slide_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.pre,
.next {
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  cursor: pointer;
}

.pre {
  left: 0;
}

.next {
  right: 0;
}

.nav_dots {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
}

#i1:checked ~ .nav_dots #dot1,
#i2:checked ~ .nav_dots #dot2,
#i3:checked ~ .nav_dots #dot3,
#i4:checked ~ .nav_dots #dot4,
#i5:checked ~ .nav_dots #dot5 {
  background: #fff;
}

/* --- GRID --- */
.grid-cont {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  height: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1vh;
}
.grid-cont span {
  font-weight: 600;
  color: #d1ac00ff;
}
.grid-cont p {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .grid-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "grid-cont__p1 grid-cont__p2";
    grid-gap: 2vw;
  }

  .subtitulo {
    font-size: 2rem;
    font-weight: 600;
  }
}
.subtitle-reg {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

.total-cont {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container-reg {
  max-width: 850px;
  width: 100%;
  padding: 40px 30px;
  background: #eef4edff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  perspective: 2700px;
}
.container-reg .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container-reg .cover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #e6cf92;
  opacity: 0.4;
  z-index: 100;
}
.container-reg .cover:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #e6cf92;
  opacity: 0.4;
  z-index: 100;
  transform: rotateY(180deg);
}
.container-reg .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
}
.container-reg .cover .front img {
  backface-visibility: hidden;
  z-index: 50;
}
.container-reg .cover .back .back_img {
  transform: rotateY(180deg);
}
.container-reg .cover .back .text-2 {
  transform: rotateY(180deg);
}
.container-reg .cover .text {
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-reg .cover .text .text-1,
.container-reg .cover .text .text-2 {
  font-size: 3rem;
  font-weight: 600;
  color: #002116ff;
  text-align: center;
  line-height: 3.5rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.container-reg #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.container-reg #flip {
  display: none;
}
.container-reg form {
  height: 100%;
  width: 100%;
  background: #eef4edff;
}
.container-reg .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-reg .form-content .login-form,
.container-reg .form-content .signup-form {
  width: calc(50% - 25px);
}
.container-reg .form-content .login-form .input-box,
.container-reg .form-content .signup-form .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.container-reg .form-content .login-form .input-box input,
.container-reg .form-content .signup-form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #eef4edff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.container-reg .form-content .login-form .input-box input:focus, .container-reg .form-content .login-form .input-box input:valid,
.container-reg .form-content .signup-form .input-box input:focus,
.container-reg .form-content .signup-form .input-box input:valid {
  border-color: #002116ff;
}
.container-reg .form-content .login-form .input-box i,
.container-reg .form-content .signup-form .input-box i {
  position: absolute;
  color: #d1ac00ff;
  font-size: 1rem;
}
.container-reg .form-content .login-form .button,
.container-reg .form-content .signup-form .button {
  color: #eef4edff;
  background: #eef4edff;
  margin-top: 40px;
}
.container-reg .form-content .login-form .button input,
.container-reg .form-content .signup-form .button input {
  color: #eef4edff;
  background-color: #002116ff;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.container-reg .form-content .login-form .button input:hover,
.container-reg .form-content .signup-form .button input:hover {
  background-color: #003d29;
}
.container-reg .form-content .login-form .CTA-text,
.container-reg .form-content .signup-form .CTA-text {
  text-align: center;
  margin-top: 25px;
}
.container-reg .form-content .titles {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: #002116ff;
}
.container-reg .form-content .titles:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #d1ac00ff;
}
.container-reg .form-content .signup-form .titles:before {
  width: 20px;
}
.container-reg .form-content .input-boxes {
  margin-top: 30px;
}
.container-reg .form-content .text {
  font-size: 1rem;
  font-weight: 500;
  color: #002116ff;
}
.container-reg .form-content .text a {
  text-decoration: none;
  color: #902923ff;
}
.container-reg .form-content .text a:hover {
  text-decoration: underline;
}
.container-reg .form-content .text label {
  color: #902923ff;
  cursor: pointer;
}
.container-reg .form-content .text label:hover {
  text-decoration: underline;
}

@media (max-width: 730px) {
  .container-reg .cover {
    display: none;
  }

  .container-reg .form-content .login-form,
.container-reg .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container-reg #flip:checked ~ form .signup-form {
    display: block;
  }

  .container-reg #flip:checked ~ form .login-form {
    display: none;
  }

  .title-reg {
    font-size: 2rem;
    line-height: 3rem;
  }

  .subtitle-reg {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
.Error-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Error-404 a {
  font-size: 5rem;
}

/*# sourceMappingURL=style.css.map */
