/* COLOR---VARIABLES */
$color-green: #002116ff;
$color-rusted: #902923ff;
$color-cream: #eef4edff;
$color-gold: #d1ac00ff;
$color-paragraph: rgb(216, 216, 216);

.nav-padding {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* --- GALLERY --- */
.gallery img {
  max-width: 100%;
  background-color: $color-cream;
  padding: 8px;
  width: 100%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.margin-img {
  margin-top: 30px;
}

#gallery-popup .modal-img {
  width: 100%;
}

/* --- GRID --- */
.grid-cont {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  height: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1vh;

  span {
    font-weight: 600;
    color: $color-gold;
  }

  p {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .grid-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "grid-cont__p1 grid-cont__p2";
    grid-gap: 2vw;
  }

  .subtitulo {
    font-size: 2rem;
    font-weight: 600;
  }
}
