/* Nav HEADER */
.navbar-custom {
  background-image: linear-gradient(
    to bottom,
    #002116,
    #01281b,
    #002f1f,
    #003624,
    #003d29
  );
}

.navbar-custom .navbar-nav .nav-link {
  color: #eef4edff;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #d1ac00ff;
}

.nav-item {
  margin-right: 2rem;
  letter-spacing: 0.05rem;
  transition: 0.4s ease-in;

  &:hover {
    transform: scale(1.1);
    transform-origin: -10% 10%;
  }
}

.nav-link {
  color: #eef4edff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s ease;

  &:hover {
    color: #d1ac00ff;
  }
}

/* borde toggler */
.custom-toggler.navbar-toggler {
  border-color: #eef4edff;
}

/* interior toggler (RGB)*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238, 244, 237)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Medias Queries NAV */
@media (max-width: 990px) {
  .iconos-redes {
    display: none;
  }
}
