/* COLOR---VARIABLES */
$color-green: #002116ff;
$color-rusted: #902923ff;
$color-cream: #eef4edff;
$color-gold: #d1ac00ff;
$color-paragraph: rgb(216, 216, 216);

/* Nav HEADER */
.navbar-custom {
  background-image: linear-gradient(
    to bottom,
    #002116,
    #01281b,
    #002f1f,
    #003624,
    #003d29
  );
}

.navbar-custom .navbar-nav .nav-link {
  color: #eef4edff;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #d1ac00ff;
}

.nav-link-mod {
  padding: 0 20px;
  color: #eef4edff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s ease;
  letter-spacing: 0.05rem;
  transition: 0.4s ease-in;

  &:hover {
    color: $color-cream;
    color: #d1ac00ff;
    transform: scale(1.1);
  }
}

.nav-text-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-item {
    padding: 10px;

    .nav-link-active {
      background-color: $color-gold;
      border-radius: 15px;
      padding: 1px 10px;
      color: $color-green;

      &:hover {
        color: $color-green;
      }
    }
  }
}

/* Tamaño logo nav */
.logo {
  height: 6vh;
  transition: 0.5s ease;
  margin: 1vh;

  &:hover {
    transform: scale(1.1);
  }

  img {
    max-width: 100%;
  }
}

/* Iconos Redes */
.iconos-redes {
  font-size: 1.5rem;

  & a {
    padding: 0 15px;
    color: $color-cream;
    transition: all 1s;
    margin-bottom: 2vh;

    &:hover {
      color: $color-gold;
      font-size: 2rem;
    }
  }
}

/* borde toggler */
.custom-toggler.navbar-toggler {
  border-color: #eef4edff;
}

/* interior toggler (RGB)*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238, 244, 237)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Medias Queries NAV */
@media (max-width: 990px) {
  .iconos-redes {
    display: none;
  }
}
